#startDate-picker {
  color: white;
  display: flex;
  justify-content: center;
}

#endDate-picker {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.mid-page-button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1em;
}
